.food-bg
{
	background-color:#D2691E;
	height: 850px;
}
.food-p1
{
	height: 220px;
	width: 330px;
	position: absolute;
	margin-top: 80px;
	margin-left: 80px;
	background:url("../image/food1.jpg");
}

.food-p2
{
	height: 220px;
	width: 330px;
	position: absolute;
	margin-top: 340px;
	margin-left: 80px;
	background:url("../image/food2.jpg");
}

.food-p3
{
	height: 220px;
	width: 330px;
	position: absolute;
	margin-top: 600px;
	margin-left: 80px;
	background:url("../image/food3.jpg");
}

.food-p4
{
	height: 220px;
	width: 330px;
	position: absolute;
	margin-top: 80px;
	margin-left: 640px;
	background:url("../image/food4.jpg");
}
.food-p5
{
	height: 220px;
	width: 330px;
	position: absolute;
	margin-top: 340px;
	margin-left: 640px;
	background:url("../image/food5.jpg");
}
.food-p6
{
	height: 220px;
	width: 330px;
	position: absolute;
	margin-top: 600px;
	margin-left: 640px;
	background:url("../image/food6.jpg");
}
.food-order
{
	position: absolute;
	margin-top: 20px;
	color: #FFD700;
	font-size: 30px;
}
